playwright>=1.40.0
openai>=1.0.0 
flask>=3.0.3
flask_cors>=6.0.1
flask_jwt_extended>=4.7.0
sqlalchemy>=2.0.30
psycopg2-binary>=2.9.10
python-dotenv>=1.1.1
supabase>=2.18.0
requests>=2.32.4
flask_sqlalchemy>=3.1.1
browser-use>=1.0.0
flask-migrate>=4.1.0
APScheduler>=3.11.0
pandas>=2.2.2